<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Upload file</title>
</head> 
<body>
	<div class="wrap">
		<div class="conatiner">
			<div class="row">
				<div class="col-md-12">
					<form action="/upload" method="post" enctype="multipart/form-data">
						<input type="file" name="profileImage" />
						<button type="submit">Upload</button>
					</form> 
				</div>
			</div>
		</div>
	</div> 
</body> 
</html>